.page_transition {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;

    width: 100%;
    width: 100vw;
    height: 900px;
    height: 110vh;

    background-color: $white;
}

.page-enter-active, .page-leave-active {
	transition: all .5s;
}

.page-enter, .page-leave-active {
	opacity: 0;
}