#dribbble {
    position: relative;

    width: 100%;
    padding: 90px 5px;

    background-color: $dark_background;
    background-image: url("/img/dark_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(0,0,0,.8);
    }
    section {
        position: relative;
        z-index: 1;

        overflow-y: scroll; /* has to be scroll, not auto */

        white-space: nowrap;

        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
        &.dragscroll {
            cursor: grab;
        }

        figure {
            display: inline-block;
            height: 380px;
            margin: 0 5px;
            @media only screen and(max-width: $mobile) {
                height: 200px;
            }
            img {
                display: block;
                height: 100%;
            }
        }
    }
    a {
        position: absolute;
        bottom: 30px;
        left: 50%;

        display: block;

        transform: translate(-50%,0);
        img {
            display: block;
            width: 30px;
        }
    }
}
