.background_black {
    background-color: $black;
}

.background_white {
    background-color: $white;
}

.background_grey {
    background-color: $footer_background;
}

.background_dark {
    background-color: $dark_background;
}

.background_dark {
    background-color: $dark_background;
}
