// fonts
$primary_font: "Source Sans Pro", sans-serif;

// Colors
$black: #161518;
$white: #fff;
$dark_grey: #3a3a3a;
$light_grey: #f7f7f7;
$text_grey: #545258;
$text_light_grey: #898590;
$border_grey: #b1b1b1;
$primary_color: #f24b4b;
$light_background: #2a2237;
$dark_background: #140b1f;
$footer_background: #f9f9f9;
$scroll_grey: #5c5c5c;
$scroll_grey_bg: #b3b3b3;
$link_color: #6B39CD;

// Font sizes
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 18px;
$h5: 12px;
$h1_mobile: 30px;
$h2_mobile: 24px;
$h3_mobile: 18px;
$h4_mobile: 16px;
$h5_mobile: 12px;

// Text
$text_size: 16px;
$small_text_size: 10px;
$text_size_mobile: 14px;
$small_text_size_mobile: 10px;

// Menu
$menu_text: 14px;
$menu_text_mobile: 28px;

// Buttons
$button_text: 18px;
$button_text_mobile: 18px;

// Placeholder
$placeholder: 12px;
$placeholder_mobile: 10px;

// Font Weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$blackbold: 900;

// Line heights
$h1_line: 68px;
$h2_line: 56px;
$h3_line: 44px;
$h4_line: 38px;
$h5_line: 22px;
$h1_line_mobile: 46px;
$h2_line_mobile: 46px;
$h3_line_mobile: 38px;
$h4_line_mobile: 38px;
$h5_line_mobile: 22px;
$text_size_line: 34px;
$small_text_size_line: 20px;
$text_size_mobile_line: 30px;
$small_text_size_mobile_line: 20px;

// responsive
$mobile: 420px;
$tablet: 768px;
$desktop: 992px;

// Transition
$transition_time: .3s;

// Box shadows
$box_shadow: 0 5px 10px rgba(0,0,0,.20);
